<div class="footer-div">
  <div class="container">
    <div class="text-center">
        <img src="../../assets/img/white-letter.png" style="width: 200px;" alt="" class="img-fluid">
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <h4 ><span style="color: #ff9d00;">Mail</span> | ogradecuca@gmail.com</h4>
        </div>
        <div class="col-sm">
            <h4 ><span style="color: #ff9d00;">Milan</span>: +381 62 655464 <br> <span style="color: #ff9d00;">Batica</span>: +381 69 791418</h4>
        </div>
    </div>
    <h4 class="text-center">Pratite nas i na drustvenim mrezama</h4>
    <div class="text-center">
        <a style="color: #ff9d00;"><i style="color: #ff9d00;font-size: 30px;padding-top: .5em;" class="fa fa-facebook"></i></a>
    </div>
  </div>

</div>
<div class="text-center" style="color: #ff9d00;background-color: #000;padding-top: 1em;padding-bottom: 1em;">
    <h6>Copyright 2020</h6>
    <h6>Alemarc</h6>
</div>