<div>
    <swiper [config]="config" class="mobile-slider">

        <div class="swiper-wrapper product-slider-container">

            <div class="swiper-slide slider" *ngFor="let item of data">
                <div class="img-container">
                    <img class="img-fluid" src="{{item.image}} " />
                </div>
            </div>


        </div>

        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


        <!-- Add Arrows -->

    </swiper>
</div>