.slider-img {
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    vertical-align: auto !important;
    width: 600px;
    opacity: .7;
}