<div class="header"></div>

<div class="container text-center" style="padding-top: 5em;">
    <h1>Grčki stubovi</h1>
    <mat-divider></mat-divider>
    <div class="text-left">
        <li>
            <p *ngFor="let item of firstCheckList"><i class="fa fa-check"></i> {{item}}</p>
        </li>
    </div>
    <div class="row" style="padding-top: 5em;">
        <div class="col-sm" style="padding-top: 5em;">
            <p>
                Ugradnjom ovih grčkih stubova postići ćete da vaš prostor izgleda uređeno i novo bez obzira na aktuelni
                trend.
            </p>
            <p>
                Svi ovi betonski stubovi pripadaju klasičnom stilu arhitekture, a klasičan stil je onaj koji traje i
                traži upotrebu baš ovakve betonske galanterije. Osnovna razlika između grčkih stubova se nalazi u
                kapitelu stubova, pri čemu se prepoznaju dorski, jonski i korintski stil.
            </p>
            <p>
                Dekorativni grčki stubovi se sastoje iz 3 elementa: baze, tela stuba i kapitela.
            </p>
        </div>
        <div class="col-sm">
            <img src="../../assets/img/column_PNG15839-min.png" alt="" style="height: 500px;" class="img-fluid">
        </div>
    </div>

</div>