<div class="content">
    <div class="header"></div>

<div class="container text-center" style="padding-top: 5em;">
    <h1>Grčki stubovi</h1>
    <mat-divider></mat-divider>
    <div class="text-left">
        <li>
            <p *ngFor="let item of firstCheckList"><i class="fa fa-check"></i> {{item}}</p>
        </li>
    </div>
    <div class="row" style="padding-top: 5em;">
        <div class="col-sm" style="padding-top: 5em;">
            <p>
                Ugradnjom ovih grčkih stubova postići ćete da vaš prostor izgleda uređeno i novo bez obzira na aktuelni
                trend.
            </p>
            <p>
                Svi ovi betonski stubovi pripadaju klasičnom stilu arhitekture, a klasičan stil je onaj koji traje i
                traži upotrebu baš ovakve betonske galanterije. Osnovna razlika između grčkih stubova se nalazi u
                kapitelu stubova, pri čemu se prepoznaju dorski, jonski i korintski stil.
            </p>
            <p>
                Dekorativni grčki stubovi se sastoje iz 3 elementa: baze, tela stuba i kapitela.
            </p>
        </div>
        <div class="col-sm">
            <img src="../../assets/img/column_PNG15839-min.png" alt="" style="height: 500px;" class="img-fluid">
        </div>
    </div>

</div>

<div class="text-center">
    <img src="../../assets/img/best-quality-stamp-1-1024x1024.png" style="width: 300px;" alt="" class="img-fluid">
</div>

<div class="container">
    <li *ngFor="let item of secondCheckList">
        <p><i class="fa fa-check"></i>{{item}}</p>
    </li>
</div>

<div class="row">
    <div class="col-sm">
        <img src="../../assets/img/pillar-wallpaper.png" alt="" class="img-fluid">
    </div>
    <div class="col-sm">
        <p style="padding-top:40%;">Grčki stubovi se isporučuju glatko obrađeni, u boji betona (neofarbani), jer se posle montiranja mora
            ispoštovati proces isparenja vlage iz sveže nalivenog stuba. Iskustvom i stalnim inovacijama u radu postigli
            smo visok kvalitet proizvoda koji karakteriše čvrstoća betona, otpornost na različite vremenske uslove,
            dugotrajnost i najfinija obrada.</p>
    </div>
</div>

<app-footer></app-footer>
</div>