<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over" style="width: 90%;">
        <div class="row" style="padding-top: 2em;">
            <div class="col">
                <img src="../../assets/img/LogoPNG.png" width="50px" alt="" class="img-fluid">
            </div>
            <div class="col text-right">
                <button class="close-btn" (click)="drawer.toggle()" mat-button><i class="fa fa-close"></i></button>
            </div>
        </div>

        <div class="container menu-container">
            <div class="text-center">
                <button class="menu-btn" mat-button [routerLink]="['/']" routerLinkActive="router-link-active">Pocetna</button>
            </div>
            <div class="text-center">
                <button class="menu-btn menu-btn-1 current" [routerLink]="['/ograde']" routerLinkActive="router-link-active" mat-button>Ograde</button>
            </div>
            <div class="text-center">
                <button class="menu-btn menu-btn-1" [routerLink]="['/stubovi']" routerLinkActive="router-link-active" mat-button>Stubovi</button>
            </div>
            <div class="text-center">
                <button class="menu-btn menu-btn-1" [routerLink]="['/cesme']" routerLinkActive="router-link-active" mat-button>Cesme</button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-dark ">
                    <a class="navbar-brand" href="#"><img src="../../assets/img/LogoPNG.png" style="width: 50px;" alt="" class="img-fluid"> </a>
                    <button class="navbar-toggler" type="button" (click)="drawer.toggle()">
            <span class="navbar-toggler-icon"></span>
          </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" routerLinkActive="router-link-active">Pocetna <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" [routerLink]="['/ograde']" routerLinkActive="router-link-active">Ograde</a>
                            <a class="nav-item nav-link" [routerLink]="['/cesme']" routerLinkActive="router-link-active">Cesme</a>
                            <a class="nav-item nav-link" [routerLink]="['/stubovi']" routerLinkActive="router-link-active">Stubovi</a>
                            <a class="nav-item nav-link " [routerLink]="['/objekti']" routerLinkActive="router-link-active">Montazni objekti</a>
                        </div>
                    </div>
                </nav>
                <div class="container header-text-container text-center">
                    <h1 class="header-h1">Moderan</h1>
                    <mat-divider class="orange-divider"></mat-divider>
                    <p class="header-paragraf">Kvalitet i moderan dizajn jesu glavni aduti naših ograda.U ponudi imamo preko 16 različitih modela.Montaža i do 80 metara dnevno</p>
                    <button class="header-btn" mat-button>Pogledaj modele</button>
                </div>
            </div>
            <div>
                <div class="container">
                    <h1 class="ograde-h1 text-center">
                        Modeli ograda
                    </h1>
                </div>

                <div class="container  card-container">
                    <h1></h1>
                    <div class="row">
                        <div class="col-sm" *ngFor="let item of concreteArr | slice:0:4">
                            <img src="{{item.image}}" style="height: 190px;" alt="" class="img-fluid">
                            <h3 class="text-center" style="padding-top: .5em;">{{item.title}}</h3>
                            <mat-divider></mat-divider>
                            <h3 class="text-center"><i class="fa fa-pencil-square"></i>{{item.dimension}}</h3>
                            <div class="text-center">
                                <button mat-raised-button (click)="openDialog(item.image)">Slike</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <h1 class="text-center">
                    Prednosti
                </h1>
                <mat-divider></mat-divider>
                <div class="row" style="padding-top: 2em;">
                    <div class="col-sm prednosti-card">
                        <li *ngFor="let item of leftArray">
                            <p><i class="fa fa-check"></i> {{item}}</p>
                        </li>
                    </div>
                    <div class="col-sm prednosti-card" style="margin-left: 2em;">
                        <li *ngFor="let item of leftArray">
                            <p><i class="fa fa-check"></i> {{item}}</p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="container card-container-lg">
                <div class="row">
                    <div class="col-sm" *ngFor="let item of concreteArr | slice:4:8">
                        <img src="{{item.image}}" style="height: 190px;" alt="" class="img-fluid">
                        <h3 class="text-center" style="padding-top: .5em;">{{item.title}}</h3>
                        <mat-divider></mat-divider>
                        <h3 class="text-center"><i class="fa fa-pencil-square"></i>{{item.dimension}}</h3>
                        <div class="text-center">
                            <button mat-raised-button (click)="openDialog(item.image)">Slike</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container card-container-tr">
                <h1 class="ograde-h1">Pletena</h1>
                <mat-divider></mat-divider>
                <div class="row" style="padding-top: 2em;">
                    <div class="col-sm" *ngFor="let item of concreteArr | slice:8:10">
                        <img src="{{item.image}}" alt="" class="img-fluid">
                        <h3 class="text-center" style="padding-top: .5em;">{{item.title}}</h3>
                        <mat-divider></mat-divider>
                        <h3 class="text-center"><i class="fa fa-pencil-square"></i>{{item.dimension}}</h3>
                        <div class="text-center">
                            <button mat-raised-button (click)="openDialog(item.image)">Slike</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container  card-container-orange">
                <h1></h1>
                <div class="row">
                    <div class="col-sm" *ngFor="let item of concreteArr | slice:10:14">
                        <img src="{{item.image}}" height="190px" alt="" class="img-fluid">
                        <h3 class="text-center" style="padding-top: .5em;">{{item.title}}</h3>
                        <mat-divider></mat-divider>
                        <h3 class="text-center"><i class="fa fa-pencil-square"></i>{{item.dimension}}</h3>
                        <div class="text-center">
                            <button mat-raised-button (click)="openDialog(item.image)">Slike</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container card-container-tr">
                <h1 class="ograde-h1">Balvani</h1>
                <mat-divider></mat-divider>
                <div class="row" style="padding-top: 2em;">
                    <div class="col-sm" *ngFor="let item of concreteArr | slice:14:16">
                        <img src="{{item.image}}" height="190px" alt="" class="img-fluid">
                        <h3 class="text-center" style="padding-top: .5em;">{{item.title}}</h3>
                        <mat-divider></mat-divider>
                        <h3 class="text-center"><i class="fa fa-pencil-square"></i>{{item.dimension}}</h3>
                        <div class="text-center">
                            <button mat-raised-button (click)="openDialog(item.image)">Slike</button>
                        </div>
                    </div>
                </div>
                <h1 class="text-center" style="margin-top: 2em;">Zasto nase ograde</h1>
                <p class="text-center why-paragraf">Nase ograde su jedno od najboljih resenja za ogradjivanje i zatvaranje vasih dvorista, firmi, i parcela i nude vam sigurnost i privatnost u vasem okruzenju. prednosti koje nude nase ograde su brojne, posebno naglasavajuci da ne zahtevaju
                    dalje odrzavanje. medju nasim asortimanom proizvoda mozete birati izmedju razlicitih zavrsnih obrada, tekstura povrsine i boja koje odgovaraju vasem ukusu.</p>
            </div>

            <div class=" text-center gallery-div desktop-slider" style="margin-bottom: 5em;">
                <swiper [config]="config" class="mobile-slider">

                    <div class="swiper-wrapper product-slider-container">

                        <div class="swiper-slide slider" *ngFor="let item of concreteArr">
                            <div class="img-container">
                                <img class="img-fluid" src="{{item.image}}" />
                            </div>
                        </div>


                    </div>

                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>


                    <!-- Add Arrows -->

                </swiper>
            </div>

            <div class=" text-center gallery-div mobile-slider" style="margin-bottom: 5em;display: none;">
                <swiper [config]="mobileConfig" class="mobile-slider">

                    <div class="swiper-wrapper product-slider-container">

                        <div class="swiper-slide slider" *ngFor="let item of concreteArr">
                            <div class="img-container">
                                <img width="400px" height="auto" src="{{item.image}}" />
                            </div>
                        </div>


                    </div>




                    <!-- Add Arrows -->

                </swiper>
            </div>
            <app-footer></app-footer>

        </div>
    </mat-drawer-content>
</mat-drawer-container>