@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.swiper-container{
    padding: 5em;
}

body{
    background-color: #eee;
}

h1 {
    font-family: 'Fredoka One', cursive;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  